#container{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 900px;
}
.grid-row{
    display: flex;
    flex: 1;
    
.grid-item{
    border: solid black 2px;
    flex: 1;
    
}
.grid-item:hover{
    background-color: darkblue;
}